<div class="flex flex-col h-full overflow-auto">

    <div class="flex flex-col flex-auto relative">

        @if (gameLoading) {
            <mat-progress-bar class="!absolute top-0 z-50" mode="indeterminate"></mat-progress-bar>
        }

        <!-- #region Header -->
        <div class="flex flex-row items-center gap-3 px-3 sm:px-6 py-4 bg-card border-b">

            <button mat-icon-button matTooltip="Back to games list" [routerLink]="['..']">
                <mat-icon>arrow_back</mat-icon>
            </button>

            @if (!gameLoading && !game) {
                <app-message-box class="w-full" [type]="'error'" [message]="'Game not found'"></app-message-box>
            } @else {
                <div class="flex flex-row items-center gap-4">
                    <mat-icon>home</mat-icon>
                    <div class="flex flex-col">
                        <div class="text-2xl">
                            {{ game?.home_team }} {{ game?.home_points }} - {{ game?.visitor_points }} {{ game?.visitor_team }}
                        </div>
                        <div class="text-sm">
                            {{ game?.date | date : 'dd/MM/YYYY HH:mm' }}
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- #endregion -->

        <div class="flex flex-row gap-6 w-full h-[calc(100vh-48px)] p-6 sm:p-8">

            <div class="flex flex-col gap-6 w-full h-full">

                <div class="basket-card w-full h-full">
                    <mat-tab-group class="basket-tab-group" [mat-stretch-tabs]="false">
                        <mat-tab label="Video">
                            <div class="flex flex-col flex-auto w-full h-full">
                                <youtube-player
                                    #youtubePlayer
                                    [videoId]="game?.youtube_video_id"
                                    (stateChange)="onPlayerStateChange($event)"/>
                            </div>
                            <div class="flex flex-col flex-auto w-full h-full">
                                <youtube-player
                                    #youtubePlayer1
                                    [videoId]="game?.youtube_game_id"
                                    (stateChange)="onPlayerStateChange($event)"/>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>

                <div class="basket-card w-full h-60">
                    <mat-tab-group class="h-full" [mat-stretch-tabs]="false">
                        <mat-tab label="Serve altro qui?">

                        </mat-tab>
                    </mat-tab-group>
                </div>

            </div>

            <div class="flex flex-col gap-6 w-[32rem]">

                <div class="basket-card w-full h-3/5">
                    <mat-tab-group class="h-full" [mat-stretch-tabs]="false">
                        <mat-tab label="Timeline">
                            <div class="flex flex-col h-full">
                                <div #timelineContainer class="h-full overflow-y-auto">
                                    <ol>
                                        @for (gameEvent of gameEvents; track $index; let first = $first, last = $last) {
                                            <li class="relative flex p-3 cursor-pointer hover:bg-gray-100"
                                                [ngClass]="{
                                                    'previous-event opacity-30': isPreviousGameEvent(gameEvent),
                                                    'current-event bg-blue-200': isCurrentGameEvent(gameEvent),
                                                    'next-event': isNextGameEvent(gameEvent),
                                                }"
                                                (click)="handleGameEventClick(gameEvent)">
                                                @if (!last) {
                                                    <div class="absolute top-3 left-8 w-0.5 h-full -ml-px bg-gray-300"></div>
                                                    <div class="absolute top-3 right-8 w-0.5 h-full -ml-px bg-gray-300"></div>
                                                }
                                                <div class="relative flex flex-auto">
                                                    @if (gameEvent.home) {
                                                        <div class="flex items-center justify-center w-10 h-10 mr-4 rounded-full" [ngClass]="isCurrentGameEvent(gameEvent) ? 'bg-blue-500' : 'bg-gray-500'">
                                                            <mat-icon [ngClass]="gameEvent.made === true? 'text-green-500' : gameEvent.made === false ? 'text-red-500' : 'text-white'">{{ getGameEventTypeIcon(gameEvent.game_event_type_id) }}</mat-icon>
                                                        </div>
                                                    }
                                                    <div class="flex flex-col flex-auto"  [ngClass]="gameEvent.home === true? 'text-left' : 'text-right'">
                                                        <div>
                                                            {{ gameEvent.giocatore_1 }} {{ getGameEventDescription(gameEvent.game_event_type_id) }}
                                                            @if(gameEvent.giocatore_2){
                                                                to {{ gameEvent.giocatore_2 }}
                                                            }
                                                        </div>
                                                        <div class="text-gray-600 text-xs">
                                                            {{ gameEvent.from_second | number : '1.2-2' }} - {{ gameEvent.getToSecond() | number : '1.2-2' }}
                                                        </div>
                                                    </div>
                                                    @if (!gameEvent.home) {
                                                        <div class="flex items-center justify-center w-10 h-10 ml-4 rounded-full" [ngClass]="isCurrentGameEvent(gameEvent) ? 'bg-blue-500' : 'bg-gray-500'">
                                                            <mat-icon [ngClass]="gameEvent.made === true? 'text-green-500' : gameEvent.made === false ? 'text-red-500' : 'text-white'">{{ getGameEventTypeIcon(gameEvent.game_event_type_id) }}</mat-icon>
                                                        </div>
                                                    }
                                                </div>
                                            </li>
                                        }
                                    </ol>
                                </div>
                                <div class="flex flex-row items-center justify-between gap-6 bg-gray-100 border-t px-2 py-1">
                                    <div class="text-sm">
                                        Current time: {{ currentTime | number : '1.2-2' }}
                                    </div>
                                    <div class="flex flex-row items-center gap-1 text-xs border rounded cursor-pointer px-2"
                                        [ngClass]="autoScroll ? 'bg-green-300' : 'bg-gray-300'"
                                        [matTooltip]="autoScroll ? 'Disable autoscroll' : 'Enable autoscroll'"
                                        (click)="autoScroll = !autoScroll">
                                        @if (autoScroll) {
                                            Autoscroll enabled
                                            <mat-icon>sync</mat-icon>
                                        } @else {
                                            Autoscroll disabled
                                            <mat-icon>sync_disabled</mat-icon>
                                        }
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>

                <div class="basket-card w-full h-2/5">
                    <mat-tab-group class="basket-tab-group" [mat-stretch-tabs]="false">
                        <mat-tab label="Summary">
                            <table class="basket-table bg-card">
                                <thead class="sticky top-0 z-10">
                                    <tr>
                                        <th mat-sort-header="name" class="min-w-16">Player</th>
                                        <th mat-sort-header="points" class="min-w-16">Points</th>
                                        <th mat-sort-header="assists" class="min-w-16">Assists</th>
                                        <th mat-sort-header="rebounds" class="min-w-16">Rebounds</th>
                                        <th mat-sort-header="steals" class="min-w-16">Steals</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (player of boxScore; track $index) {
                                        <tr>
                                            <td class="whitespace-nowrap">{{ player.player }}</td>
                                            <td class="whitespace-nowrap">{{ player.points }}</td>
                                            <td class="whitespace-nowrap">{{ player.assists }}</td>
                                            <td class="whitespace-nowrap">{{ player.rebounds }}</td>
                                            <td class="whitespace-nowrap">{{ player.steals }}</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </mat-tab>
                        <mat-tab label="Shots">
                            <div class="w-full h-full bg-orange-300 relative overflow-hidden">

                                <!-- Bordo del campo -->
                                <div class="absolute inset-0 border border-black"></div>

                                <!-- Loop per i tiri -->
                                @for (shot of getShots(); track $index) {
                                    <div
                                        class="flex items-center bg-white rounded-full h-3 w-3 absolute cursor-pointer"
                                        [ngStyle]="{'left': shot.x + '%', 'top': shot.y + '%'}"
                                        [matTooltip]="getEventFullDescription(shot)"
                                        (click)="handleGameEventClick(shot)"
                                    >
                                        @if (shot.made) {
                                            <mat-icon class="micro-icon text-green-500">circle</mat-icon>
                                        } @else {
                                            <mat-icon class="micro-icon text-red-500">close</mat-icon>
                                        }
                                    </div>
                                }

                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>

            </div>

        </div>


    </div>

</div>
